/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.main-page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1150px;
    height: 550px;
    position: center;
}

.main p {
    text-align: center;
    font-size: 30pt;
    font-weight: bolder;
}

.main_picture {
    width: 1180px;
    position: center;
}

.footer_link {
    font-weight: bold;
}

.menu_button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drawer {
    display: none;
    background-color: black;
    min-width: 200px;
}

    .drawer a {
        color: white;
        padding: 20px;
        text-decoration: none;
        display: block;
    }

.dropdown:hover .drawer {
    display: block;
}

.show {
    position: absolute;
    display: block !important;
}

.dropView {
    position: relative;
    font-family: Arial;
    border-color: #9D9D9D;
    background-color: #222222;
    color: #9D9D9D;
    position: absolute;
    border: 6px solid transparent;
    background-size: initial;
    height: 50px;
    width: 100px;
}

.listView {
    border-radius: 5px 5px 5px 5px;
    background-color: #222222;
    color: #9D9D9D;
    border-color: #9D9D9D;
}
