@model PurchaseRequisition.ViewModels.UserWithPassword

@{
    ViewData["Title"] = "Admin Menu";
}

<header>
    <h1>Admin Menu</h1>
</header>

<article class="setting-box">
    <h3><a asp-controller="Admin" asp-action="ResetAccount">Reset Account</a></h3>
</article>
