@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Purchase Requisition</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Purchase Requisition</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Member") || User.IsInRole("President")
                       || User.IsInRole("Dean and VP") || User.IsInRole("Dean") || User.IsInRole("DepoHead"))
                    {
                        <li><a asp-area="" asp-controller="Order" asp-action="Index">View Orders</a></li>
                        <li><a asp-area="" asp-controller="Item" asp-action="Index">Browse Items</a></li>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Register">Add New User</a></li>
                        <li><a asp-area="" asp-controller="Division" asp-action="Index">View Divisions</a></li>
                        <li><a asp-area="" asp-controller="Department" asp-action="Index">View Departments</a></li>
                        <li><a asp-area="" asp-controller="Role" asp-action="Index">Role Management</a></li>
                        <li class="dropdown">
                            <button class="menu_button, dropView">More Links</button>
                            <ul class="drawer" id="dropdownNav">
                                <li style="background-color: #222222; height: 50px"><a asp-area="" asp-controller="Address" asp-action="Index"></a></li>
                                <li class="listView"><a asp-area="" asp-controller="Address" asp-action="Index">View Addresses</a></li>
                                <li class="listView"><a asp-area="" asp-controller="Campus" asp-action="Index">View Campuses</a></li>
                                <li class="listView"><a asp-area="" asp-controller="College" asp-action="Index">View Colleges</a></li>
                                <li class="listView"><a asp-area="" asp-controller="Vendor" asp-action="Index">Browse Vendors</a></li>
                            </ul>

                            <script>
                                var dropbtn = document.querySelector('.menu_button');
                                dropbtn.addEventListener('click', openMenu);
                                function openMenu(e) {
                                    //Fixes double triggers with internal elements
                                    e.stopPropagation();
                                    document.getElementById("dropdownNav").classList.toggle("show");
                                }
                                window.onclick = function (e) {
                                    if (!e.target.matches('.menu_button')) {
                                        var myDropdown = document.getElementById("dropdownNav");
                                        if (myDropdown.classList.contains('show')) {
                                            myDropdown.classList.remove('show');
                                        }
                                    }
                                }
                            </script>
                        </li>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("CFO"))
                    {
                        <li><a asp-area="" asp-controller="Budget" asp-action="Index">View Budgets</a></li>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Auditor"))
                    {
                        <li><a asp-area="" asp-controller="Budget" asp-action="Index">View Budgets</a></li>
                        <li><a asp-area="" asp-controller="Order" asp-action="Index">View Orders</a></li>
                        <li><a asp-area="" asp-controller="Item" asp-action="Index">Browse Items</a></li>
                        <li><a asp-area="" asp-controller="Vendor" asp-action="Index">Browse Vendors</a></li>
                    }
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Purchasing"))
                    {
                        <li><a asp-area="" asp-controller="Budget" asp-action="Index">View Budgets</a></li>
                        <li><a asp-area="" asp-controller="Order" asp-action="Index">View Orders</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <!--<partial name="_CookieConsentPartial" />-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Purchase Requisition</p>
            <a asp-area="" asp-controller="Home" asp-action="Contact" class="footer_link">Contact</a>
            <a asp-area="" asp-controller="Home" asp-action="About" class="footer_link">About</a>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
