@{
    ViewData["Title"] = "Home Page";
}
<main class="main-page">
    <div class="main">
        <br />
        <p>Welcome to the Purchase Requisition system to WVU-P</p>

        <div><img src="~/css/WVU_P.jpg" class="main_picture" /></div>
    </div>
</main>
